@import "../bootstrap-sass-3.3.2/assets/stylesheets/bootstrap";

.bgImageContainer{
	 background: 
      url("../img/background.jpg") no-repeat center center fixed; 
	
	height: 800px;
	-webkit-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	-moz-filter: blur(3px);
	z-index:0;
	webkit-background-size:cover;

	display:block;
}


.accueiltitre{
	
	z-index:11;
	position:relative;
	display: block;
	bottom: 613px;
	text-shadow: 2px 2px #000000;
}


.accueiltitre h1{
	
	color:white;
	font-size: 60px;
	text-align: center;

}

.aligntext{ 
	text-align : center;
}


.button {
	width: 180px;
	text-align: center;
	cursor: pointer;
	/*-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;*/
	color: #FFFFFF;
	background: none;
	/*border: 3px solid #FFFFFF;*/
	font-family: 'Montserrat',sans-serif;
	display: block;
	position: relative;
	margin: auto;
	height: 54px;
	line-height: 54px;
	transition: all 200ms ease-in-out 0s;
	font-weight: 400;
	text-decoration: none;
	font-size: 18px;
	white-space:  nowrap;
	z-index:10;
	bottom: 550px;
	float:none;

}




a{
	color: white;
	text-align: center;
}

#photos{

	bottom: -11px;
	margin-top: 10px;
	position: relative;
	width: 220px;
	height: 303px;

  
}


 
#images {
  height: 226px;
 border: 9px solid #fff;
 border-bottom: 65px solid #fff;
-webkit-box-shadow: 3px 3px 3px 3px #777;
-moz-box-shadow: 3px 3px 3px 3px #777;
 box-shadow: 3px 3px 3px 3px #777;

}
 
#photos p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 18px/1 'Kaushan Script', cursive;
  color: #888;
}

#headgame {

	border : 1px solid lightgrey;
	background: #fbfbfb;
	-webkit-box-shadow: 3px 0px 3px #777;
     -moz-box-shadow: 3px 0px 3px #777;
          box-shadow: 3px 0px 3px #777;

}

#contentgame{

	border : 1px solid lightgrey;
	-webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

#footergame{


	padding-top: 20px;
	margin-top: 50px;
	border-top: 1px solid lightgrey;
}

#footergame li a{

	color: black;
	text-align: center;
	
}

#footergame li {
	float: none;
}


#infos{
	left: 16px;
	border: 4px double lightgrey;
	border-radius: 5px;
	bottom: 10px;
	background: #fbfbfb;
	max-width: 214px;
	width: 100%;
}

input[type="submit"]#validerGo{
	
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border: 3px solid #FFFFFF;
    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: 400;
	text-decoration: none;
	font-size: 25px;
	white-space:  nowrap;
	z-index:10;
	font-family: 'Montserrat',sans-serif;
	width: 179px;
	top:5px;
	margin-top: 13px;
	transition: all 200ms ease-in-out 0s;

	


}

input[type="submit"]#validerGo:hover {
	background-color:white;
	color:black;
	text-decoration: none;
	transition: all 200ms ease-in-out 0s;
}

select{

	width: 179px;
	display: block;
	margin-top: 15px;
	color: black;
}

.accueiltitre h4{

	color:white;
}

footer{

	min-height: 300px;
	height: 146px;
	background: rgb(96, 89, 86);
	color:#FFFFFF;
	border-top: 5px solid darkgrey;
	float:none;
	text-align: center;
	margin-top: -146px;
	padding-top: 24px;

}

footer .footer{
	position:absolute;

	
}

footer a{
	color: white;
	font-weight: 400;
}

footer a:hover{
	color: white;
	font-weight: 400;
	text-decoration: none;

}


 .button-darkblue{

	background : rgb(75, 77, 114);
	width: 227px;
	height: 49px;
}

