{% extends "main.html.twig" %}

{% block mainContent %}

<div class="container page-header col-md-6 col-md-offset-3">
	<h1>Bienvenue dans la partie administration</h1><br>
</div>

<div class="container col-md-4 col-md-offset-4">

<div class="panel panel-default">
<div class="panel-heading"><h2> Se connecter</h2></div>
<div class="panel-body">



<form name='connexion' method='POST'>

	<div class="form-group">
	    <label for='pseudo'>Pseudo : </label>
	    <input type='text' name='pseudo' id='pseudo' class="form-control"  placeholder="Entrez le nom" required>
    </div>

    	<div class="form-group">
	    <label for='mdp'>Mot de passe : </label>
	    <input type='password' name='mdp' id='mdp' class="form-control"  placeholder="Entrez le mot de passe" required>
    </div>

	<input type='submit' value='Se connecter' id='connecter' name='connecter'>

</form>

{% if erreur is not empty  %}
    
       
    {% include "erreurconnexion.html.twig" %}   
       
    
{% endif %}

{% include "header.html.twig" %}
{% endblock %}