{% extends "main.html.twig" %}

{% block mainContent %}
{% include "menuadmin.html.twig" %}
  <div class="col-md-6 col-md-offset-3">
<h2>Bienvenue dans votre espace administration {{a.login}}</h2>
</div>


{% endblock %}