{% extends "main.html.twig" %}

{% block mainContent %}
{% include "menuadmin.html.twig" %}

<script>
   $(document).ready(function() { 
 
    $('#save').click(function() {  
 
        $(".error").hide();
        var hasError = false;
        
        var login = $("#login").val();
        var nom = $("#nom").val();
        var mdp = $("#mdp").val();
        var mdp2 = $("#mdp2").val();


      	 if( nom.length < 3) {
            $("#nom").after('<span class="error" style ="color:red;"> Votre nom doit comporter au moins 3 caractère !.</span>');
            hasError = true;
            return false;
        }
 
        if( login.length < 4) {
            $("#login").after('<span class="error" style ="color:red;"> Votre login doit comporter au moins 4 caractère !.</span>');
            hasError = true;
            return false;
        }

        if( mdp.length == 0) {
            $("#mdp").after('<span class="error" style ="color:red;">Veuillez entrer un mot de passe valide !.</span>');
            hasError = true;
            return false;
        }

        if( mdp != mdp2) {
            $("#mdp").after('<span class="error" style ="color:red;"> Les deux mots de passe ne correspondent pas !</span>');
            hasError = true;
             return false;
        }
        if(hasError == true) { return false; }
    });
});
    </script>





<div class="container col-md-4 col-md-offset-4">

<div class="panel panel-default">
<div class="panel-heading"><h2> Ajouter un nouvel utilisateur</h2></div>
<div class="panel-body">

	<form  method='POST'>

	  <div class="form-group">
	    <label for="nom">Nom :</label>
	    <input type='text' name='nom' id='nom' class="form-control"  placeholder="Entrez le nom">
	  </div>

	   <div class="form-group">
	     <label for="login">Login :</label>
	     <input type='text' name='login' id='login' class="form-control"  placeholder="Entrez le login">
	  </div>

	    <div class="form-group">
	      <label for="mdp">Mot de passe :</label>
	      <input  name="mdp" type="password" class="form-control"  placeholder="Entrez le mot de passe" name='mdp' id='mdp' >
	  </div>

	     <div class="form-group">
	      <label for="mdp">Retaper le mot de passe :</label>
	      <input  name="mdp2" type="password" class="form-control"  placeholder="Entrez à nouveau le mot de passe" name='mdp2' id='mdp2' >
	  </div>


	  <button type='submit' value='Enregistrer' id='save' class="btn btn-default">Ajouter</button>
	 
	</form>


</div>
</div>
</div>
</div>


{% endblock %}