{% include "header.html.twig" %}
{% block mainContent %}
{% endblock %}
			<script src="/photolocatephp/photolocate/js/map.js"></script>
			<script src="/photolocatephp/bootstrap-sass-3.3.2/assets/javascripts/bootstrap/collapse.js"></script>
			<script src="/photolocatephp/bootstrap-sass-3.3.2/assets/javascripts/bootstrap/transition.js"></script>
			
