{% extends "main.html.twig" %}

{% block mainContent %}
<body>
	<div class="bgImageContainer"></div>
	<div class ="accueiltitre col-md-8 col-md-offset-2">
		<h1>Photolocate</h1>
		<h4>Photolocate est un jeu amusant dont le principe est simple : une photo vous est proposée, et vous devez indiquer la position de ce qu'elle représente sur une carte d'une ville, de manière la plus rapide et possible.</h4>
	</div>

    <div class="button">
	    <form method='POST' action='{{a[url]}}'>

	  		<input class="form-control transparent-input" type='text' name='pseudo' id='pseudo' placeholder='Entrez votre pseudo'  required="required"/>

			<select id="ville" name="ville">
	          	{% for ville in a.villes %}
	            	<option value="{{ville.id_ville}}">{{ville.label_ville}}</option>
	          	{% endfor %}
       		</select>


	    	<input type="submit" name='validerGo' id='validerGo' value='Jouer'></input>
    	</form>
	</div>
	<footer class="footer  col-md-12 ">
		<div class="container">	  
 			  <p><h5> Ce site a été créé par : Berthemin Thomas, Brogniart Sébastien, Jubreaux Laura et Lamy Charline</h5></p>
 			  <p><h5>Copyright - Photolocate </h5></p>
 			  <button type="button" class="btn button-darkblue dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><a href="/photolocatephp/admin">Partie administration</a></button>
  		</div>
  		
	</footer>
</body>
</html>
	

{% endblock %}