{% extends "main.html.twig" %}

{% block mainContent %}

<div class ="  aligntext col-md-12 " id='headgame'>
	<h1>A vous de jouer  !</h1>
</div>

<div class="col-md-10 col-md-offset-1" id ="contentgame">
	<h4 class="alert alert-info"><small>Essayez de placer le lieu indiqué par la photo sur la carte! Plus vous serez rapide et précis, plus vous cumumulerez de points !</small></h4>
	<div class="col-md-6 col-md-offset-1" id="map" style="height: 370px;width:100%; margin-top: 20px; max-width: 500px; "></div>

	<div class="col-md-2 col-md-offset-1" id="photos"></div>

	<div class="col-md-2 col-md-offset-1" id='infos'>
		Temps : 
		<div id="compteur"></div>

		Score (/image) :
		<div id="scoreImage"></div>

		Score (total):
		<div id="scoreTotal"></div>

	</div>


	<div class ="aligntext col-md-6 col-md-offset-3 " id="footergame"> 
		<ul class="nav nav-pills">
  
  <li role="presentation"><a href="/photolocatephp/admin">Espace administrateur</a></li>
  
</ul>
	</div>
</div>


<div id="dialog-confirm" title="Félicitations !">
  <p><span style="float:left; margin:0 7px 20px 0;"></span><div id="messageFin"></div></p>
</div>

<input type="hidden" id="hpseudo" value="{{a.pseudo}}"/>
<input type="hidden" id="hville" value="{{a.ville}}"/>
{% endblock %}