{% extends "main.html.twig" %}


{% block mainContent %}
{% include "menuadmin.html.twig" %}

<script>
         $(document).ready(function() { 
       
          $('#save').click(function() {  
       
              $(".error").hide();
              var hasError = false;
              
              var label = $("#label").val();
              var lat = $("#lat").val();
              var floatRegex = /^[a-zA-Z.,;:|\\\/~!@#$%^&*_-{}\[\]()`"'<>?\s]+$/;
              var img = $("#img").val();


               if( label.length > 50) {
                  $("#label").after('<span class="error" style ="color:red;"> Votre label doit comporter  moins de  50 caractère !.</span>');
                  hasError = true;
                  return false;
              }
       
               if(!floatRegex.test(img.val)) {
                  $("#lat").after('<span class="error" style ="color:red;"> Votre latitude doit être sous cette forme : 1.125.... !</span>');
                  hasError = true;
                  return false;
              }

          
              
              if(hasError == true) { return false; }
          });
      });

</script>

<div class="container col-md-4 col-md-offset-4">

<div class="panel panel-default">
<div class="panel-heading"><h2>Ajouter une image</h2></div>
<div class="panel-body">

<form name='upload' method='POST' enctype='multipart/form-data'>

  <div class="form-group">
   <label for="label">Label :</label>
    <input  name="label" type="text" class="form-control"  placeholder="Entrez le label " id="label" required >
  </div>

    <div class="form-group">
   <label for="latitude">Latitude :</label>
    <input  name="lat" type="text" class="form-control"  placeholder="Entrez la latitude " id="lat" required>
  </div>

   <div class="form-group">
   <label for="longitude">Longitude :</label>
    <input  name="lgt" type="text" class="form-control"  placeholder="Entrez la longitude " id="lgt" required>
  </div>

  <div class="form-group">
    <label for="ville">Ville :</label>
    <select name="liste_ville">
      {% for rs in r %}
      <option value="{{rs.id_ville}}">{{rs.label_ville}}</option>
      {% endfor %}
    </select>
  </div>

   <div class="form-group">
   <label for="img">Ajouter image :</label>
    <input  name="img" type="file"   id="img" required >
    <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
</div>
 

  <button type="submit" class="btn btn-default" value='Enregistrer' name ='save' id='save'>Ajouter</button>
 
</form>


</div>
</div>
</div>
</div>
                       
                  
                
                   
		

{% endblock %}